In [2]:
from libraries import pd ,np, px,sns,plt
import lodingdata as ld

In [3]:
path = r'F:\pythonProject\Data\cleanedData.csv'
data = ld.dataloader(path)
data = data.pdloader()
data.head()

,iyear,imonth,iday,extended,country_txt,region_txt,city,latitude,longitude,doubtterr,...,targtype1_txt,target1,natlty1_txt,gname,individual,weaptype1_txt,nkill,nwound,property,dbsource
0,1970,7,2,No,Dominican Republic,Central America & Caribbean,Santo Domingo,18.456792,-69.951164,No,...,Private Citizens & Property,Julio Guzman,Dominican Republic,MANO-D,No,Unknown,1,0,No,PGIS
1,1970,0,0,No,Mexico,North America,Mexico city,19.371887,-99.086624,No,...,Government (Diplomatic),"Nadine Chaval, daughter",Belgium,23rd of September Communist League,No,Unknown,0,0,No,PGIS
2,1970,1,0,No,Philippines,Southeast Asia,Tarlac City,15.478598,120.599741,No,...,Journalists & Media,Employee,United States,Unknown,No,Unknown,1,0,No,PGIS
3,1970,1,0,No,Greece,Western Europe,Athens,37.997490,23.762728,No,...,Government (Diplomatic),U.S. Embassy,United States,Unknown,No,Explosives,1,0,Yes,PGIS
4,1970,1,0,No,Japan,East Asia,Fukouka,33.580412,130.396361,Unknown,...,Government (Diplomatic),U.S. Consulate,United States,Unknown,No,Incendiary,1,0,Yes,PGIS

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167224 entries, 0 to 167223
Data columns (total 23 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   iyear            167224 non-null  int64
 1   imonth           167224 non-null  int64
 2   iday             167224 non-null  int64
 3   extended         167224 non-null  object
 4   country_txt      167224 non-null  object
 5   region_txt       167224 non-null  object
 6   city             167224 non-null  object
 7   latitude         167224 non-null  float64
 8   longitude        167224 non-null  float64
 9   doubtterr        167224 non-null  object
 10  success          167224 non-null  object
 11  suicide          167224 non-null  object
 12  attacktype1_txt  167224 non-null  object
 13  targtype1_txt    167224 non-null  object
 14  target1          167224 non-null  object
 15  natlty1_txt      167224 non-null  object
 16  gname            167224 non-null  object
 17  individual       167224 non-null  object
 18  weaptype1_txt    167224 non-null  object
 19  nkill            167224 non-null  int64
 20  nwound           167224 non-null  int64
 21  property         167224 non-null  object
 22  dbsource         167224 non-null  object
dtypes: float64(2), int64(5), object(16)
memory usage: 29.3+ MB

### Exploring Numerical Data

In [5]:
numeric = data.select_dtypes(include=['number'])
print(numeric.columns)

Index(['iyear', 'imonth', 'iday', 'latitude', 'longitude', 'nkill', 'nwound'], dtype='object')

In [6]:
for col in numeric.columns:
    print(f'{col} : {np.mean(numeric[col])}, {np.median(numeric[col])} ,{np.std(numeric[col])}')

iyear : 2003.2454611778214, 2009.0 ,13.147890553061186
imonth : 6.470488685834569, 6.0 ,3.3909572220949484
iday : 15.536268717408984, 15.0 ,8.810238695887628
latitude : 23.751395305111707, 31.517771 ,18.326330957673566
longitude : -486.0120382312943, 43.500981499999995 ,210758.8220531365
nkill : 2.3881978663349757, 1.0 ,11.46143288528275
nwound : 3.053556905707315, 0.0 ,35.721151770058526

### Exploring Categorical Data

In [7]:
categorical = data.select_dtypes(include=['object'])
print(categorical.columns)

Index(['extended', 'country_txt', 'region_txt', 'city', 'doubtterr', 'success',
       'suicide', 'attacktype1_txt', 'targtype1_txt', 'target1', 'natlty1_txt',
       'gname', 'individual', 'weaptype1_txt', 'property', 'dbsource'],
      dtype='object')

In [8]:
for col in categorical.columns:
    print(f'{col} : {(categorical[col].mode()[0])}')

extended : No
country_txt : Iraq
region_txt : Middle East & North Africa
city : Baghdad
doubtterr : No
success : Yes
suicide : No
attacktype1_txt : Bombing/Explosion
targtype1_txt : Private Citizens & Property
target1 : Civilians
natlty1_txt : Iraq
gname : Unknown
individual : No
weaptype1_txt : Explosives
property : Yes
dbsource : START Primary Collection

### The Darkest Year with the most terrorist attacks

In [9]:
darkest_year = data.groupby('iyear')['nkill'].count().reset_index(name='AttacksNO').sort_values(by='AttacksNO',ascending=False)
print(darkest_year.head())

    iyear  AttacksNO
43   2014      16144
44   2015      14227
45   2016      12685
42   2013      11621
46   2017      10480

### The least Years in Attacks

In [10]:
least_year = data.groupby('iyear')['nkill'].count().reset_index(name='AttacksNO').sort_values(by='AttacksNO')
print(least_year.head())

   iyear  AttacksNO
1   1971        452
3   1973        463
2   1972        521
4   1974        569
0   1970        634

### TOP 5 targeted countries

In [11]:
countries = data.groupby('country_txt')['nkill'].count().reset_index(name='AttacksNO').sort_values(by='AttacksNO',ascending=False)
print(countries.head())

     country_txt  AttacksNO
83          Iraq      23001
133     Pakistan      13680
0    Afghanistan      12393
79         India      11386
34      Colombia       7098

### Top 5 Unsafe cities

In [12]:
cities = data.groupby('city')['nkill'].count().reset_index(name='AttacksNO').sort_values(by='AttacksNO',ascending=False)
cities['percentage'] = round(cities['AttacksNO']/cities['AttacksNO'].sum()*100 , 2)
print(cities.head())

          city  AttacksNO  percentage
3108   Baghdad       7452        4.46
15822  Karachi       2178        1.30
22407    Mosul       2069        1.24
4580   Belfast       2015        1.20
19249     Lima       1746        1.04

### The Most used weapons in the attacks

In [13]:
weapons = data.groupby('weaptype1_txt')['nkill'].count().reset_index(name='AttacksNO').sort_values(by='AttacksNO',ascending=False)
weapons['percentage'] = round((weapons['AttacksNO']/weapons['AttacksNO'].sum())*100,2)
print(weapons.head())

   weaptype1_txt  AttacksNO  percentage
2     Explosives      84643       50.62
4       Firearms      55390       33.12
10       Unknown      13684        8.18
5     Incendiary       9328        5.58
6          Melee       3442        2.06

### The most powerfull weapons used in killing people in the attacks

In [14]:
weapons = data.groupby('weaptype1_txt')['nkill'].sum().reset_index(name='Killed').sort_values(by='Killed',ascending=False)
weapons['percentage'] = round((weapons['Killed']/weapons['Killed'].sum())*100,2)
print(weapons.head())

   weaptype1_txt  Killed  percentage
2     Explosives  173209       43.37
4       Firearms  165076       41.33
10       Unknown   41584       10.41
6          Melee    9693        2.43
5     Incendiary    5809        1.45

### The ratio of successful Attacks

In [15]:
success = len(data[data['success'] == 'Yes']) / len(data) *100
print(f'Successful attacks: {round(success,2)}%')

Successful attacks: 88.79%

### Number of Attacks in each country per year

In [16]:
country_year = data.groupby(['iyear','country_txt'])['nkill'].count().reset_index(name='AttacksNO').sort_values(by='AttacksNO',ascending=False)
country_year['percentage'] = round(country_year['AttacksNO'] / country_year['AttacksNO'].sum() * 100,2)
print(country_year.head())

      iyear country_txt  AttacksNO  percentage
3336   2014        Iraq       3578        2.14
3540   2016        Iraq       2788        1.67
3244   2013        Iraq       2716        1.62
3436   2015        Iraq       2628        1.57
3642   2017        Iraq       2230        1.33

### The most affected regions

In [17]:
regions = data.groupby('region_txt')['nkill'].count().reset_index(name='AttacksNO').sort_values(by='AttacksNO',ascending=False)
regions['percentage'] = round(regions['AttacksNO'] / regions['AttacksNO'].sum() * 100 , 2)
print(regions.head())

                    region_txt  AttacksNO  percentage
5   Middle East & North Africa      47284       28.28
8                   South Asia      42882       25.64
10          Sub-Saharan Africa      16451        9.84
7                South America      15867        9.49
11              Western Europe      15041        8.99

### The most target nationalities

In [18]:
nationality = data.groupby('natlty1_txt')['nkill'].sum().reset_index(name='Killed').sort_values(by='Killed',ascending=False)
nationality['percentage'] = round(nationality['Killed'] /nationality['Killed'].sum() * 100,2)
print(nationality.head())

     natlty1_txt  Killed  percentage
86          Iraq   78484       19.65
0    Afghanistan   35913        8.99
141     Pakistan   22943        5.74
135      Nigeria   22400        5.61
82         India   19424        4.86

### The Most target types to attack

In [19]:
target = data.groupby('targtype1_txt')['nkill'].sum().reset_index(name='Attacked').sort_values(by='Attacked',ascending=False)
target['percentage'] = round(target['Attacked'] / target['Attacked'].sum() * 100 , 2)
print(target.head())

                  targtype1_txt  Attacked  percentage
13  Private Citizens & Property    135271       33.87
9                      Military    100599       25.19
12                       Police     52804       13.22
6          Government (General)     25915        6.49
2                      Business     23899        5.98

### The Most dangerous group

In [21]:
group = data.groupby('gname')['nkill'].sum().reset_index(name='killed').sort_values(by='killed',ascending=False)
group['percentage'] = round(group['killed'] / group['killed'].sum() * 100 , 2)
print(group.head())

                                            gname  killed  percentage
3335                                      Unknown  111576       27.94
1505  Islamic State of Iraq and the Levant (ISIL)   38667        9.68
3073                                      Taliban   29398        7.36
694                                    Boko Haram   20256        5.07
1826      Liberation Tigers of Tamil Eelam (LTTE)   10591        2.65